@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');
body{
    font-family: 'Poppins', sans-serif;}
header{
	
	width: 100%;height: 80  px;
}

.logo{
	padding-top: 10px}
.logo-size{
	width: 120px;height: auto;text-align: center
}

.banner{
	width: 100%;min-height: 500px;background-color: white
}
.menu{
	padding-top: 10px;
}
.menu ul{
	margin: 0px;padding: 0px;list-style: none;display: flex;
}
.menu ul li a{
    padding: 10px 20px ;text-decoration: none;font-size: 16px;color: #5B5959;text-transform: uppercase;border-radius: 20px
}
.menu ul li a:hover{
	background-color: #4E2705;color: white
}
.icon{
	padding: 10px 15px;
}
.text-head{
	text-align: center;text-decoration: underline darkred;font-size: 30px;color: grey
}
.vien{
	border: 1px solid #7A1718;width: 100%;min-height: 200px;padding: 15px;position: relative;overflow: hidden
} 
.icon1{
	position: absolute;width: 80%;height: 40px;left: 10%;top: -12%;display: flex;justify-content: space-around;transition: all 1s
}
.icon1 a{
	width: 40px;height: 40px;background-color: #DBDBDB;border-radius: 50%;display: flex;justify-content:center;align-items: center;text-decoration: none;color: darkred;
}
.icon1 a:hover{
	background-color: darkred;color: white
}
.info-prod{
 font-size: 20px;color: grey;
}
.price{
 color: firebrick;font-size: 20px
}
.banner2{
	width: 100%;min-height: 500px;position: relative
}
.caption{
	position: absolute;width: 30%;left: 35%;top: 10%
}
footer{
width: 100%;min-height: 500px;
}
.vien-trang{
	border: 1px solid white;padding: 20px;display: flex;flex-direction: column;justify-content: center;align-items: center;height:150px
}
.vien-trang a{
	text-decoration: none;color: darkred;padding-top:30px
}
.vien-trang a:hover{
	color:white
}
.text-do{
	color: darkred
}
#product{
	width: 100%;min-height: 600px;background: url("../images/bg2.png");background-size: cover;background-repeat: no-repeat;background-position: center bottom
}
.pt-30{
	padding-top: 30px
}
#contact{
	width: 100%;min-height: 500px;background: url("../../../../Documents/teeloveyou/Banner2.png"); background-repeat: no-repeat;background-position: center center;background-size: cover
}
.bong{
	broder:1px solid gray;width: 100%;min-height: 400px;box-shadow: 5px 5px 5px gray;padding:40px
}
.form-control{
	padding: 8px;margin-bottom:10px;width: 100% 
}
#Blog{
	width: 100%;min-height: 600px;
}
.pt-50{
	padding-top: 120px
}